<!doctype html>
<html ng-app="eventgine">
    <head>
        <title>Whatever</title>
        <base href="/">

        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
        <link rel="stylesheet" href="/bower_components/angular-material/themes/default-theme.css">
        <link rel="stylesheet" href="/bower_components/angular-material/themes/red-theme.css">

        <script src="//cdnjs.cloudflare.com/ajax/libs/URI.js/1.11.2/URI.min.js"></script>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-animate.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-route.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-aria.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/restangular/1.4.0/restangular.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.11/angular-ui-router.js"></script>
        <script src="/bower_components/hammerjs/hammer.js"></script>
        <script src="/bower_components/angular-material/angular-material.js"></script>
        <script src="/js/eventgine.js"></script>
        <script src="/js/eventgine.controllers.js"></script>
    </head>
    <body ng-init="open = false">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button ng-click="open = !open">+</md-button>
                <h2>Eventgine</h2>
            </div>
        </md-toolbar>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-open="open">
            <md-toolbar class="md-tall">
                <div class="md-toolbar-tools">
                    <span>Sidenav Right</span>
                    <md-button class="md-fab md-primary" md-theme="red">NS</md-button>
                </div>
            </md-toolbar>
            <md-content class="md-padding">
                <md-button class="md-primary" ng-click="open = !open">Close Sidenav Right</md-button>
            </md-content>
        </md-sidenav>
        <md-content ng-view scroll-y layout="vertical" style="max-width: 20rem; margin: auto;" layout-fill flex class="md-padding">
            <ui-view></ui-view>
        </md-content>

    </body>
</html>
